@media screen and (max-width: 600px) {
	.page-container {
	    margin: 15px;
	}

	.desctop{
		display: none!important;
	}
	.mobile{
	  	display: inline-block!important;
	}

	.btn-login {
		font-size: 14px;

		&::after {
		    top: 11px;
		    height: 20px;
		}

	}

	.btn{
		padding: 5px;
	}



	.promo{

		.logo {
			
			&::after {
			    height: 14px;
			}

			img{
				height: 35px;
			}
		}

		.promo-title {
		    font-size: 25px;
		    line-height: 35px;
		    width: 277.79px;

			&::after {
			    height: 20px;
			    width: 80px;
			    left: 205px;
			    top: 15px;
			}

		}

		.promo-addit {
		    font-size: 17px;
		    margin: 0 !important;
		}

		.img-salad {
		    width: 450px;
		    top: -280px;
		    right: -220px;
		    z-index: -2;
		}

		.btn-send{
			margin-top: 100px;

			&::after {
			    left: 97%;
			    top: 19px;
			    width: 31px;
			    height: 12px;
			    z-index: 0;
			}

		}

	}

	.default-title {
	    font-size: 30px;
	}

	.how-it-works {
	    margin-top: 70px;

	    &::after {
		    display: none;
		}

		.default-title::after {
		    width: 90px;
		    right: -40px;
		    top: 15px;
		    height: 13px;
		}

		.order-line{
			margin-top: 30px;
			flex-direction: column;

			.line {
			    width: 435px;
			    left: -10px;
			    top: 100px;
			    height: 1124px;
			}

			.kitchen{
				margin-top: 160px;

				img{
					width: 170px;
					margin-right: 90px;
				}

				span{
					left: 170px;
				}

				p{
					margin-top: 30px;
					left: 80px;
				}

			}

			.delivery{
				margin-top: 140px;

				img{
					width: 240px;
					margin-left: 40px;
				}

				.desc{
					margin-top: 240px;
					left: 20px;
				}

			}

			.client{
				margin-top: 220px;

				&::after {
				    left: 40px;
				    top: 100px;
				}
	
				img{
					width: 180px;
					margin-right: 130px;
				}

				span{
					left: 150px;
					top: -10px;
				}

				p{
					width: 230px;
					left: 120px;
					top: 180px;
				}

			}

		}

	}

	.menu{
		font-size: 13px;

		#menu-tabs{
			flex-direction: row !important;
			border-right: none;
			border-bottom: 2px solid;
			padding-bottom: 30px;

			& a + a{
				margin: 0;
			}

			a{
				width: 50%;
				margin-top: 15px !important;
			}

			.img-wraper{
				width: 25px;

				img{
					height: 25px;
				}

			}

		}

		& #menu-tabContent, & .row{
			height: 100%;
		}

		.menu-count{
			border-left: none;
			border-top: 2px solid;
			padding-top: 30px;
			font-size: 20px;
			padding-left: 0;

			.menu-count-title{
				text-align: center;

				&::after {
				    height: 17px;
				    width: 150px;
				    left: -10px;
				    top: 8px;
				}

			}

		}

	}

	.our-platform{
		margin-top: 50px;

		&::after{
			display: none;
		}

		.default-title{
			margin-right: auto;
			font-size: 40px;

			&::after {
			    right: -40px;
			    top: 25px;
			    width: 120px;
			}

		}

		.phone-content{
			top: 161px;
			left: 50%;
			transform: translateX(-50%);
		}

		.br{
			margin-left: 40px;
		}

	}

	.contacts{
		margin-top: 40px;
	
		.contact + .contact{
			margin-top: 30px;
		}
		form{
			margin-top: 20px;
		}
		.contact-form{
			margin-top: 50px;

			.inputs{
				flex-direction: column;

				input{
					width: 100%;
				}

			}

			.btn.btn-contacts-send {
			    margin: 30px auto 20px auto;
				padding: 12px 30px;

				&::after {
				    left: -70px;
				    top: 15px;
				}

			}

		}

	}

	#sendModal .modal-dialog{
		width: 100%;
		height: 100vh;
		margin: 0;

		.inputs{
			flex-direction: column;

			input{
				width: 100%!important;
				padding: 10px;
			}

		}

	}

}