// Fonts
@font-face {
  font-family: "Gost";
  src: url("../fonts/gost-type-b.ttf");
}

body{
  margin: 30px 60px 15px 60px;
  max-width: 1920px;
  padding: 0;
  font-family: "Gost";
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{
  max-width: 100%;
  border: none;
}
form{
  margin: 0;
}
input[type="submit"]{
  cursor: pointer;
  border: none;
}
input{
  border: none;
}
textarea{
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}
::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
:-moz-placeholder {
  color: inherit;
  opacity: 1;
}
:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
*, *:focus {
  outline: none !important;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:before, *:after {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
button{
  border: none;
  cursor: pointer;
}